*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #c1c1c1;
}
main{
	width: 100%; /* 2300 */
	max-width: 2300px;
	background: url(../img/main-bg1.jpg) center center no-repeat;
	background-size:  cover;
	overflow: hidden;
}
#check{
	width: 2300px;
	height: 1438px;
	background: url(../img/check.jpg) no-repeat;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

/*============================= MAIN ============================*/

#main_content{
	width: 100%; /* 2156/2300 */
	padding-top: 73px;
	padding-bottom: 880px;
}

/*-------------------------sidebar-------------------------------*/
#sidebar{
	width: 6.3%; /* 144/2300 */
	min-width: 50px;
	padding-bottom: 16px;
	background: #ffffff;
	float: left;
	-webkit-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
}
.sidebar_main, .sidebar_categorie {
	height: 1438px;
}
.logo, .home, .basket, .search, .in{
	display: block;
	width: 45px;
	height: 45px;
	fill: #d7d7d7;
	margin: 73px auto;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.home:hover, .basket:hover, .search:hover, .in:hover{
	fill: #0023ff;
}
.logo{
	background: url(../img/icon/logo.png)no-repeat;
	margin-top: 9px;
}
.active{
	fill: #0023ff;
	cursor: default;
}
.home{
	margin-top: 147px;
}
.sidebar_main .home{
	margin-top: 147px;
	fill: #0023ff;
	cursor: default;
}
.home svg, .home sourse{
	margin-left: 9px;
	width: 26px;
	height: 32px;
}
.basket svg{
	margin-left: 3px;
	width: 36px;
	height: 32px;
}
.search svg{
	margin-left: 3px;
	width: 32px;
	height: 32px;
}
.in{
	margin-top: 804px;
}
.in svg{
	margin-left: 7px;
	width: 27px;
	height: 32px;
}
/*------------------------moby-sidebar---------------------------*/
#mobi_sidebar{
	display: none;
	background: transparent;
	margin-top: 50px;
	margin-left: 10px;
	float: left;
	position: relative;
}
#mobi_sidebar .logo{
	margin: 0px auto;
}
#mobi_menu{
	position: absolute;
	list-style: none;
	top: 50px;
	left: 0px;
	background: #ffffff;
	-webkit-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
}
#mobi_menu .home, #mobi_menu .basket, #mobi_menu .search, #mobi_menu .in{
	margin: 10px auto;
}

/*--------------------------------------sort_menu-----------------------------------*/
#sort_menu{
	width: 87px;
	height: 87px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	box-shadow: 10px 0px 12px 2px rgba(0,0,0,0.6);
	float: right;
	margin-right: 2.5%;
	position: relative;
}
.hamburger{
	background:none;
	position:absolute;
	top: 15px;
	right: 29px;
	line-height: 45px;
	padding: 5px 5px 5px 5px;
	color:#0023ff;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	z-index:999;
}
.cross{
	background:none;
	position:absolute;
	top: 15px;
	right: 32px;
	padding: 5px 5px 5px 5px;
	color:#0023ff;
	border:0;
	font-size:3em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	z-index:999;
}
.vtoggle{
	z-index:999; 
	background:#131313;  
	position:absolute; 
	text-align:center;
	top: 65px;
	right: -57px; 
	width: 374px;
	height: 1298px;
	list-style: none;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	-moz-box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	padding-top: 244px;
}
.vtoggle li a { 
	display: block;
	font-family: LatoLight;
	color: #c1c1c1;
	font-size: 1.125em; /* 18/16 */
	font-weight: 400;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	width: 309px;
	height: 80px;
	padding: 10px 10px 10px 0px;
	line-height: 65px;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.vtoggle img{
	width: 58px;
	height: 58px;
	float: right;
	margin-left: 34px;
}
.office{
	margin-top: 44px;
}
.kids{
	margin-top: 48px;
}
.kitchen{
	margin-top: 46px;
}
.accesories{
	margin-top: 46px;
}
.dash{
	border-bottom: 2px solid  #0023ff;
	width: 157px;
	margin: 0 auto;
}
.vtoggle li:last-child a{
	font-family: LatoLight;
	color: #0023ff;
	font-size: 1.125em; /* 18/16 */
	font-weight: 400;
	text-align: center;
	width: 374px;
	margin-top: 321px;
	height: 70px;
}
.vtoggle img{
	width: 58px;
	height: 58px;
	float: right;
	margin-left: 34px;
}
.vtoggle li a:hover{
	color: #0023ff;
	font-weight: 900;
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1); 
	transform: scale(1.1);
}
/*-----------------------------------main content-----------------------------*/
.heading{
	color: #000000;
	display: block;
	font-family: LatoLight;
	height: 450px;
	width: 700px;
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	padding-top: 46px;
}
.heading h1{
	font-size: 13.75em; /* 220px/16px/ */
	font-weight: 100;
}
.heading h3{
	font-size: 2.25em; /* 36/16 */ 
	font-weight: 300;
	margin-top: 3px;
}
.btn_blue a{
	font-family: LatoLight;
	width: 215px;
	height: 54px;
	background-color: #0023ff;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.125em; /* 18/16 */
	font-weight: 900;
	margin-top: 35px;
	border-radius: 30px;
	line-height: 53px;
	-webkit-box-shadow: 15px 13px 16px -1px rgba(0,0,0,0.8);
	-moz-box-shadow: 15px 13px 16px -1px rgba(0,0,0,0.8);
	box-shadow: 15px 13px 16px -1px rgba(0,0,0,0.8);
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.btn_blue a:hover{
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1); 
	transform: scale(1.1);
}

/*-----------------------------------slide----------------------------------------*/

#control_slide{
	padding-top: 820px;
	float: right;
	margin-right: 5%;
}
input[name="slide"] {
	display: none;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
}
label::before {
	content: "\2022";
	color: #f3f3f3;
	font-size: 25px;
	text-align: center;
	line-height: 18px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 8px;
	background-color: #ccc;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[name="slide"]:checked + label::before {
	background: #0023ff;
	content: " ";
}

/*====================================== CATEGORIES ===========================================*/
#bg_categories{
	background: #f0f0f0;
}
#center{
	width: 93.7%; /* 2156/2300 */
	float: left;
	padding-top: 84px;
	padding-bottom: 84px;
	padding-left: 11.0435%; /* 254/2300 */
	display: flex;
	justify-content: space-between;
}
#center .room{
	color: #0023ff;
	font-weight: 900;
	cursor: default;
}
.title_categorie{
	height: 112px;
	width: 85.8999%; /* 1492/1902 */
}
.title_categorie h1{
	font-family: LatoLight;
	color: #000000;
	font-size: 4.5em; /* 27/16 */
	font-weight: 300;
	text-align: left;
	display: inline-block;
	text-transform: uppercase;
}
.name_category{
	display: inline-block;
	font-family: LatoLight;
	color: #c1c1c1;
	font-size: 1.125em; /* 18/16 */
	font-weight: 400;
	text-align: right;
	float: right;
	margin-top: 25px;
}
#center .name_category span{
	display: inline-block;
	float: left;
	margin-left: 34px;
	margin-top: 17px;
}
#center .name_category img{
	width: 58px;
	height: 58px;
	float: right;
	margin-left: 34px;
	margin-right: 5px;
}
/*---------------------------furniture-----------------*/
#content_categories{
	width: 93.7%; /* 2156/2300 */
	margin: auto;
	padding: 0px 11.5652% 50px 11.0435%; /* 266/2300=11.5652%  254/2300=11.0435% */
	float: left;
}
.row{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 42px;
}
.row_show_more{
	padding-top: 42px;
	padding-bottom: 0;
}
.furniture{
	background: #fff;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
}
.info{
	font-family: LatoLight;
	font-weight: 300;
	text-align: left;
	width: 100%;
	height: 100px;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.furniture:hover .info{
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1); 
	transform: scale(1.1);
}
.info h5{
	color: #000000;
	font-size: 1.875em; /* 30/16 2.913em hover transform: scaleY(1.0038); */
	text-transform: uppercase;
	margin-bottom: 5px;
}
.info h6{
	color: #a8a8a8;
	font-size: 1.125em; /* 18/16 */
	margin-bottom: 10px;
}
.info p{
	color: #0023ff;
	font-size: 1.125em; /* 18/16 */
	font-weight: 700;
}
.img{
	display: inline-block;
}
.img img{
	width: 100%;
}
.red_seat{
	width: 22.98%; /* 343/1492 */
	height: 418px;
}
.img_red_seat{
	width: 100%;
	max-width: 193px;
	margin-top: 40px;
	margin-left: 8%;
}
.info_red_seat{
	margin-left: 8%;
	margin-top: 30px;
}
.white_talbe{
	width: 72.9821%; /* 1109/1492 */
	height: 418px;
}
.img_white_talbe{
	width: 60%;
	max-width: 500px;
	padding-left: 3%;
	padding-top: 80px;
	padding-bottom: 5px;
}
.info_white_talbe{
	width: 40%;
	padding-top: 100px;
	padding-left: 5%;
}
.blue_seat{
	width: 22.98%; /* 343/1492 */
	height: 418px;
}
.img_blue_seat{
	width: 100%;
	max-width: 193px;
	margin-top: 40px;
	margin-left: 8%;
}
.info_blue_seat{
	margin-left: 8%;
	margin-top: 30px;
}
.modern_bed{
	width: 46.0637%; /* 726/1492 */
	height: 418px;
}
.img_modern_bed{
	width: 60%;
	max-width: 500px;
	padding-left: 3%;
	padding-top: 125px;
	padding-bottom: 5px;
}
.info_modern_bed{
	width: 40%;
	padding-top: 125px;
	padding-left: 2%;
}
.dark_seat{
	width: 22.98%; /* 343/1492 */
	height: 418px;
}
.img_dark_seat{
	width: 100%;
	max-width: 193px;
	margin-top: 40px;
	margin-left: 8%;
}
.info_dark_seat{
	margin-left: 8%;
	margin-top: 30px;
}
.show_more{
	width: 100%; /* 1492px */
	height: 112px;
	text-align: center;
	margin-top: 33px;
	text-transform: uppercase;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.show_more a{
	text-decoration: none;
	font-family: LatoLight;
	color: #0023ff;
	font-size: 1.125em; /* 16/18 */
	font-weight: 700;	
}
.show_more:hover{
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1); 
	transform: scale(1.1);
}

/*========================================== PRODUCTS ================================================*/
#bg_products{
	background: #ffffff;
}
.sidebar_products {
	height: 1438px;
}

#column2{
	width: 54.7%; /* 1259/2300 */
	display: flex;
	flex-direction: column;
}
#photo_info{
	width: 39%; /* 897/2300 */
	height: 1438px;
	float: left;
	padding-top: 114px;
	padding-top: 100px;
}
.likes{
	width: 100%;
	height: 30px;
	cursor: pointer;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.num{
	font-family: LatoLight;
	color: #000000;
	font-size: 1.791em; /* 28/16 */
	font-weight: 900;
	text-align: center;
	float: right;
	margin-right: 16px;
	line-height: 28px;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.likes:hover svg, .num:hover {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2); 
	transform: scale(1.2);
}
.likes svg{
	fill:#ff547c;
	width: 32px;
	height: 30px;
	float: right;
	margin-right: 77px;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.photo_products {
	padding-top:155px;
	padding-bottom:155px;
	width: 100%;
	padding-left: 20px;
}
.photo_products img{
	width: 100%;
}
.zum{
	width: 80%;
	height: 35px;
	margin-left: 81px;
}
.plus,.minus{
	width: 32px;
	height: 32px;
	background: none;
	fill: #0023ff;
	font-weight: 900;
	cursor: pointer;
	margin-right: 22px;
	border: none;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.minus{
	fill: #dbdbdb;
	cursor: default;
}
.plus:hover,.minus:hover{
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3); 
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3); 
	transform: scale(1.3);
}
.zum a{
	display: inline-block;
	width: 32px;
	height: 32px;
	float: right;
	margin-left: 57px;
}
.zum a svg{
	width: 32px;
	height: 32px;
	fill: #dbdbdb;
	-moz-transition:  0.8s 0.1s ease;
	-o-transition:  0.8s 0.1s ease;
	-webkit-transition:  0.8s 0.1s ease;
}
.zum a:hover svg{
	fill: #0023ff;
}
.center_products{
	width: 100%;
	background: #f0f0f0;
	padding-top: 75px;
}
.title_products{
	width: 79%;
	height: 90px;
	display: inline-block;
	margin-left: 5%;
}
.title_products h1{
	font-family: LatoLight;
	color: #000000;
	font-size: 3em; /* 48/16 */
	font-weight: 300;
	text-align: left;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
.name_products{
	width: 50%;
	display: inline-block;
	font-family: LatoLight;
	color: #c1c1c1;
	font-size: 1.125em; /* 18/16 */
	font-weight: 400;
	text-align: right;
	float: right;
	margin-top: 15px;
}
.name_products span{
	display: inline-block;
	float: right;
	margin-top: 12px;
	margin-right: 37px;
}
.name_products img{
	width: 58px;
	height: 58px;
	float: right;
	margin-right: 10px;
}
.data{
	width: 100%;
	margin-top: 153px;
	font-family: LatoLight;
	padding-left: 5%;
	padding-right: 5%;
}
.data h2{
	color: #0023ff;
	font-size: 4.5em; /* 72/16 */
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 67px;
}
.data h2 span{
	color: #000;
}
.data p{
	font-family: LatoLight;
	color: #a8a8a8;
	font-size: 1.5em; /* 24/16 */
	line-height: 2; 
	text-align: left;
	font-weight: 300;
}
.price{
	width: 100%;
	display: flex;
	margin-top: 81px;
}
.cost{
	font-family: LatoLight;
	text-align: left;
	width: 25%;
	text-transform: uppercase;
	margin-right: 5%;
}
.cost h5{
	color: #000000;
	font-size: 1.125em; /* 18/16 */
	font-weight: 300;
}
.cost p{
	color: #0023ff;
	font-size: 3em; /* 48/16 */
	font-weight: 700;
}
.cost span{
	color: #000000;
	font-size: 0.5em; /* 24/48 */
	font-weight: 700;
	text-decoration: line-through;

}
.quantity{
	font-family: LatoLight;
	text-align: left;
	width: 25%;
	color: #000000;
	height: 132px;
	margin-right: 5%;
}
.quantity h5{
	font-size: 1.125em; /* 18/16 */
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.quantity span{
	font-size: 1.875em; /* 30/16 */
	font-weight: 700;
}
.data a{
	display: block;
	width: 215px;
	height: 54px;
	background-color: #0023ff;
	font-family: LatoLight;
	color: #ffffff;
	font-size: 1.125em; /* 18/16 */
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	border-radius: 27px;
	line-height: 50px;
	text-transform: uppercase;
	margin-top: 50px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
	-moz-transition:  0.9s 0.2s ease;
	-o-transition:  0.9s 0.2s ease;
	-webkit-transition:  0.9s 0.2s ease;
}
.data a:hover{
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2); 
	transform: scale(1.2);
}
.recomended{
	width: 90%;
	height: 393px;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.vertical{
	width: 393px;
	height: 50px;
	font-family: LatoLight;
	text-transform: uppercase;
	color: #000000;
	font-size: 2.103em; /* 33*16 */
	font-weight: 300;
	text-align: center;
	transform: rotate(-90deg);
}
.recomended .dark_seat, .recomended .blue_seat, .recomended .red_seat{
	display: flex;
	flex-direction: column;
}

.recomended .info_red_seat {
	margin-top: 20px;
}
.recomended .dark_seat:hover .info, .recomended .blue_seat:hover .info, .recomended .red_seat:hover .info{
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1); 
	transform: scale(1.1);
}
/*================================ SEARCH ===========================================*/
#bg_search{
	background: #ffffff;
}
.content_search{
	width: 100%;
	padding-top: 200px;
}
.content_search input{
	width: 70%;
	height: 130px;
	border: none;
	border-bottom: 2px solid #e3e3e3;
	font-family: LatoLight;
	color: #000000;
	font-size: 8.75em; 
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
	margin-left: 130px;
	padding-left: 25px;
}
.content_search p{
	font-family: LatoLight;
	color: #000000;
	font-size: 2.25em; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	text-align: left;
	margin-left: 270px;
	margin-top: 36px;
	opacity: 0.3;
}
/*+++++++++++++++++++++++++++++++++++++++++++++ MEDIA ++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1024px){

	/*=============== CATEGORIES ====================*/

	.red_seat{
		width: 48.655%;
	}
	.sidebar_categorie{
		height: 1898px;
	}
	.white_talbe{
		width: 48.655%;
	}
	.categorie2{
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
	}
	.blue_seat{ width: 48.655%; }
	.modern_bed{ width: 48.655%; }
	.dark_seat{	
		width: 100%;
		margin-top: 42px;
	}
	.img_modern_bed, .img_white_talbe{
		width: 100%;
		max-width: 500px;
		padding-left: 3%;
		padding-top: 50px;
		padding-bottom: 5px;
	}
	#content_categories .img_dark_seat {
		width: 60%;
		max-width: 290px;
		margin-top: 62px;
		margin-left: 4%;
	}
	.info_modern_bed{
		width: 100%;
		padding-top: 30px;
		padding-left: 8%;
	}
	.info_white_talbe {
		width: 100%;
		padding-top: 40px;
		padding-left: 8%;
	}
	#content_categories .info_dark_seat {
		width: 40%;
		margin-left: 13%;
		margin-top: 128px;
	}
	.recomended .dark_seat{
		width: 48.655%;
		margin-top: 0px;
	}


	/*=============== PRODUCTS =====================*/

	#photo_info, #column2 {
		width: 93%;
	}
	#column2{
		padding-left: 20px;
	}
	.sidebar_products{
		height: 2876px;
	}
	#photo_products{
		height: 393px;
	}
}

@media screen and (max-width: 900px){

	/*=============== CATEGORIES ====================*/

	#content_categories .img_dark_seat {
		width: 46%;
		margin-top: 50px;
		margin-left: 0;
	}
	#content_categories .info_dark_seat {
		width: 30%;
		margin-left: 0; 
		margin-top: 128px;
	}

	@media handheld, only screen and (max-width:620px){

		/*=============== MAIN =====================*/
		.sidebar_main{
			display: none;
		}
		#mobi_menu {
			display: none;
		}
		#mobi_sidebar{
			display: block;
		}

		#main_content{
			width: 100%;
			padding-top: 0px;
		}
		.heading{
			height: 300px;
			width: 170px;
			padding-top: 200px;
		}
		.heading h1{
			font-size: 4.75em;
			margin-left: -22px; 

		}
		.heading h3{
			font-size: 1.25em; /* 36/16 */ 
			margin-top: 3px;
			margin-left: 12px;
			text-align: center;
		}
		.heading .btn_blue a{
			margin-left: -21px;
		}
		#sort_menu{
			width: 40px;
			height: 40px;/*696*/
			border-radius: 50%;
			background-color: #ffffff;
			margin-right: 5%;
			margin-top: 50px;
		}
		.hamburger{
			top: -7px;
			right: 6px;
		}
		.cross{
			top: -7px;
			right: 7px;
		}
		.vtoggle{
			top: 41px;
			right: -19px;
		}
		/*=============== CATEGORIES =====================*/

		.sidebar_categorie{
			display: none;
		}
		#content_categories{
			width: 100%;
			padding: 10px 11.5652% 50px 11.0435%;
		}
		#center{
			padding-left:1%;
			width: 84%;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#center #sort_menu{
			margin-top: 10px;
			margin-right: -4%;
		}
		#center .title_categorie { width: 95%; }
		#center .name_category { margin-top: 0; }
		.row{
			padding-bottom: 0;
		}
		.title_categorie {
			height: 0px;
		}

		.categorie1, .categorie2{
			flex-direction: column;
			justify-content: space-between;
			height: 878px;
			margin-bottom: 42px;
		}
		.categorie2{height: 1338px; }
		.red_seat{ width: 100%; }
		.white_talbe{ width: 100%; }
		.blue_seat{ width: 100%; }

		.modern_bed{ width: 100%; }
		.dark_seat{	
			width: 100%;
			margin-top: 0;
		}
		#content_categories .img_dark_seat {
			width: 100%;
			max-width: 193px;
			margin-top: 40px;
			margin-left: 8%;
		}
		#content_categories .info_dark_seat {
			width: 100%;
			margin-left: 8%;
			margin-top: 30px;
		}
		#content_categories .img_modern_bed, #content_categories .img_white_talbe { width: 85%;}
		.title_categorie h1 { font-size: 2em; }
		#center .name_category span {
			margin-left: 0;
			font-size: 1em;
			margin-top: 10px;
			}
		#center .name_category img {
			margin-left: 17px;
			margin-right: 6px;
		}

		/*=============== PRODUCTS ===================*/
		#photo_info{
			width: 84%;
			padding-top: 60px;
			padding-bottom: 50px;
			height: 730px;
		}
		#column2 .title_products h1 {
			font-size: 2em;
		}
		.likes svg { margin-right: 20px;}
		.photo_products {
			padding-top: 70px;
			padding-bottom: 70px;
			width: 90%;
			padding-left: 0px;
		}
		.plus, .minus { margin-right: 10px;}
		.zum {
			width: 97%;
			margin-left: 10px;
		}
		.zum a { margin-left: 10px;}
		#column2 {
			width: 100%;
			padding-left: 0;
		}
		#column2 #sort_menu{
			margin-top: -70px;
		}
		.sidebar_products{
			display: none;
		}
		.center_products{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.title_products{
			width: 100%;
			margin-left: 0px;
		}
		.name_products{ width: 50%; }
		.name_products span{ margin-right: 15px; }
		.name_products img{ 
			margin-right: 35%; 
			width: 40px;
			height: 40px;
		}
		.data { margin-top: 100px; }
		.data h2 { 
			font-size: 3em;
			margin-bottom: 50px;
		}
		.data p{ font-size: 1.3em }
		.vertical{ 
			width: 100px;
			font-size: 1.5em; }
			.recomended .dark_seat, .recomended .red_seat , .recomended .blue_seat, .recomended .info { width: 90%;}
			.info h5 { font-size: 1.5em; }
			.info h6 { font-size: 1em; }
			#column2 .vtoggle {
				top: 41px;
				right: -18px;
				padding-top: 50px;
			}
			/*=============================== SEARCH ===============================*/
			.sidebar_search{display: none;}
			.content_search input{
				height: 90px;
				width: 90%;
				font-size: 2.75em;
				margin-left: 10px;
			}
			.content_search p{
				margin-top: 20px;
				margin-left: 10px;
				font-size: 1.25em;
			}
			.vtoggle {
				padding-top: 50px;
			}
		}